
body {
  font-family: 'Roboto', sans-serif;
  background-image: url('/Users/neerajpillai/Documents/Projects/todo-hon_it/public/ssss.jpeg');
  background-color: #fafafa; 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}



@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Shadows+Into+Light&display=swap');


.App {
  text-align: center;
  background-color: #ffffff; 
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  width: 90%;
  max-width: 600px;
}


.App-header {
  margin-bottom: 20px;
  background-image: url('https://example.com/anime-background.jpg'); 
  background-size: cover;
  border-radius: 8px;
}


input[type="text"], button {
  font-family: 'Shadows Into Light', cursive; 
  border-radius: 4px;
}

input[type="text"] {
  padding: 10px;
  margin-right: 5px;
  border: 2px solid #c90b1e; 
  width: 70%;
}

button {
  padding: 10px 20px;
  background-color: #c90b1e; 
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #c90b1e; 
}


ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

li:hover {
  background-color: #f0f0f0;
}
